ul {
  list-style-type: none;
  padding-left: 15px;
  margin: 10px 0;
  color:red;
}
h1 {
  color: blue;
}
h3 {
  color:blue;
}

#stock {
  font:italic;
  text-align: center;
}

#header {
  font-style: italic;
  padding: 0em;
  text-align: center;
}
#list {
  text-align: center;
}
